<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<%- include('/breadcrumbs') %>
		<main>
			<article class="article">
				<div class="catalog catalog--search catalog--search--empty">
					<div class="catalog__container">
						<div class="catalog__title">
							<span>Результаты поиска по запросу «dfdddf»</span>
						</div>
						<div class="catalog__inner">
							<div class="catalog__empty">
								<div class="catalog__empty__title">
									<span>По запросу “пваппва” ничего не найдено.</span>
								</div>
								<div class="catalog__empty__caption">
									<span>Введите другой запрос или начните с <a href="">главной страницы</a>.
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<%- include('/footer') %>
		<%- include('/popup__catalog_upload') %>
	</body>

</html>