<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<%- include('/breadcrumbs') %>
		<main>
			<article class="article">
				<div class="detail">
					<div class="detail__container">
						<div class="detail__inner">
							<div class="detail__view">
								<div class="detail__img">
									<div class='splide'>
										<div class='splide__track'>
											<ul class='splide__list'>
												<li class='splide__slide'>
													<div class="detail__img__slide">
														<img src="/src/assets/static/img/6.webp" alt="">
													</div>
												</li>
												<li class='splide__slide'>
													<div class="detail__img__slide">
														<img src="/src/assets/static/img/2.webp" alt="">
													</div>
												</li>
												<li class='splide__slide'>
													<div class="detail__img__slide">
														<img src="/src/assets/static/img/4.webp" alt="">
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="detail__thumbs">
									<div class='splide'>
										<div class='splide__track'>
											<ul class='splide__list'>
												<li class='splide__slide'>
													<div class="detail__thumbs__slide">
														<img src="/src/assets/static/img/6.webp" alt="">
													</div>
												</li>
												<li class='splide__slide'>
													<div class="detail__thumbs__slide">
														<img src="/src/assets/static/img/2.webp" alt="">
													</div>
												</li>
												<li class='splide__slide'>
													<div class="detail__thumbs__slide">
														<img src="/src/assets/static/img/4.webp" alt="">
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
								<div class="detail__labels">
									<div class="detail__label detail__label--dark">
										<span>Акция</span>
									</div>
									<div class="detail__label detail__label--light">
										<span>-20%</span>
									</div>
								</div>
							</div>
							<div class="detail__main">
								<div class="detail__main__block">
									<div class="detail__name">
										<span>SUPRLAN LK Коробка для видеонаблюдения (чёрная)</span>
									</div>
									<div class="detail__article">
										<span>Артикул:</span>
										<span>311302832</span>
									</div>
								</div>
								<div class="detail__main__block">
									<div class="detail__price">
										<div class="detail__price__title">
											<span>Розничная цена:</span>
										</div>
										<div class="detail__price__current">
											<span>500 300</span> <span class="font--ruble">₽</span>
										</div>
										<div class="detail__price__old">
											<span>500 300</span> <span class="font--ruble">₽</span>
										</div>
									</div>
									<!--волшебный бр-затычка для универсальной стилизации блоков  -->
									<br>
									<div class="detail__price">
										<div class="detail__price__title">
											<span>Моя цена:</span>
										</div>
										<div class="detail__price__current">
											<span>500 300</span> <span class="font--ruble">₽</span>
										</div>
										<div class="detail__price__old">
											<span>500 300</span> <span class="font--ruble">₽</span>
										</div>
										<div class="detail__price__bonus">
											<span>+ 10 000 бонусов</span>
										</div>
									</div>
								</div>
								<div class="detail__main__block">
									<div class="detail__availability">
										<div class="detail__availability__title">
											<span>Наличие:</span>
										</div>
										<div class="detail__availability__item">
											<span>на Складе по умолчанию: </span><span>1 000 шт</span>
										</div>
										<div class="detail__availability__item">
											<span>на Центральном складе: </span> </span><span>1 000 шт</span>
										</div>
									</div>
								</div>
								<div class="detail__main__block">
									<div class="quantity">
										<div class="quantity__button quantity__button--subtract"> </div>
										<input type="number" class="quantity__input" min="0" max="10" step="1" value="0">
										<div class="quantity__button quantity__button--add"> </div>
									</div>
									<!-- тэг любой можно -->
									<button class="detail__buy">
										<span>В корзину</span>
									</button>
								</div>
							</div>
							<div class="detail__info">
								<div class="detail__info__controls">
									<label class="detail__info__control">
										<input type="radio" name="detail__info__controls" class="detail__info__control__controller" checked data-synced-inputs="detail__info1">
										<div class="detail__info__control__visual">
											<span>Характеристики</span>
										</div>
									</label>
									<label class="detail__info__control">
										<input type="radio" name="detail__info__controls" class="detail__info__control__controller" data-synced-inputs="detail__info2">
										<div class="detail__info__control__visual">
											<span>Документы</span>
										</div>
									</label>
								</div>
								<div class="detail__info__contents">
									<div class="detail__info__content">
										<input type="radio" name="detail__info__contents" class="detail__info__content__controller" checked data-synced-inputs="detail__info1">
										<div class="detail__info__content__visual">
											<div class="detail__specs">
												<div class="detail__specs__row">
													<span>Бренд</span>
													<span>SUPRLAN</span>
												</div>
												<div class="detail__specs__row">
													<span>Наименование товара</span>
													<span>SUPRLAN LK Коробка для видеонаблюдения (чёрная)</span>
												</div>
												<div class="detail__specs__row">
													<span>Тип установки</span>
													<span>настенная</span>
												</div>
												<div class="detail__specs__row">
													<span>Тип устройства</span>
													<span>монтажная коробка</span>
												</div>
												<div class="detail__specs__row">
													<span>Материал корпуса</span>
													<span>пластик</span>
												</div>
												<div class="detail__specs__row">
													<span>Цвет</span>
													<span>черный</span>
												</div>
												<div class="detail__specs__row">
													<span>Рабочая температура min, °С</span>
													<span>-60</span>
												</div>
												<div class="detail__specs__row">
													<span>Рабочая температура max, °С</span>
													<span>70</span>
												</div>
												<div class="detail__specs__row">
													<span>Габаритные размеры</span>
													<span>100х60х120 мм</span>
												</div>
												<div class="detail__specs__row">
													<span>Вес</span>
													<span>0.2 кг</span>
												</div>
												<div class="detail__specs__row">
													<span>Страна производитель</span>
													<span>Россия</span>
												</div>
												<div class="detail__specs__row">
													<span>Базовая единица</span>
													<span>шт</span>
												</div>
											</div>
										</div>
									</div>
									<div class="detail__info__content">
										<input type="radio" name="detail__info__contents" class="detail__info__content__controller" data-synced-inputs="detail__info2">
										<div class="detail__info__content__visual">
											<div class="detail__docs">
												<a href="" class="detail__docs__item" download>
													<span>Документ 1.pdf</span>
												</a>
												<a href="" class="detail__docs__item" download>
													<span>Документ по товару 55544441.pdf</span>
												</a>
												<a href="" class="detail__docs__item" download>
													<span>Документ 3.pdf</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</article>
		</main>
		<%- include('/footer') %>
		<%- include('/popup__order_invoice') %>
	</body>

</html>