<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<article class="article">
				<div class="lk">
					<div class="lk__container">
						<div class="lk__grid">
							<div class="lk__grid__left">
								<%- include('/lk__nav') %>
								<a href="" class="lk__connect-button">
									<span>Подключиться к ЭДО</span>
								</a>
							</div>
							<div class="lk__grid__right">
								<div class="lk__content">
									<div class="docs">
										<div class="lk__content__title">
											<span>Бухгалтерские документы</span>
										</div>
										<div class="docs__filter">
											<label class="custom-input">
												<select name="" id="" required>
													<option value="biba">Общество с ограниченной ответственностью «Весна»</option>
													<option value="boba">boba</option>
												</select>
												<div class="custom-input__label">
													<span>Выбор организации</span>
												</div>
											</label>
											<div class="docs__filter__tabs">
												<div class="docs__filter__tabs__item is-active">
													<span>Акты сверки</span>
												</div>
												<div class="docs__filter__tabs__item">
													<span>УПД</span>
												</div>
												<div class="docs__filter__tabs__item">
													<span>Накладные</span>
												</div>
											</div>
											<div class="docs__filter__date">
												<div class="docs__filter__date__title">
													<span>Запросить акт сверки</span>
												</div>
												<label class="docs__filter__date__input">
													<input type="date" name="" id="" min="12.06.2020" placeholder="От">
												</label>
												<div class="docs__filter__date__divider"></div>
												<label class="docs__filter__date__input">
													<input type="date" name="" id="" class="docs__filter__date__input" placeholder="До" max="12.06.2023">
												</label>
												<div class="docs__filter__date__button" data-popup-control="open" data-popup-target="popup__docs_email">
													<span>Запросить</span>
												</div>
											</div>
										</div>
										<div class="docs__list">
											<% for( let index = 0; index < 15; index++ ) { %>
											<div class="docs__doc">
												<a href="" download class="docs__doc__download">
													<span>Акт сверки за период 06.09.22–05.10.22</span>
												</a>
												<div class="docs__doc__remove"></div>
											</div>
											<% } %>
										</div>
										<div class="docs__footer">
											<%- include('/pagination') %>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</article>
		</main>
		<%- include('/footer') %>
		<%- include('/popup__docs_email') %>
	</body>

</html>