<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<%- include('/breadcrumbs') %>
		<main>
			<article class="article">
				<div class="promo">
					<div class="promo__container">
						<div class="promo__title">
							<span>Акции</span>
						</div>
						<div class="promo__grid">
							<% for( let index = 0; index < 15; index++ ) { %>
							<div class="promo__card">
								<div class="promo__card__img">
									<div class="promo__card__img__img">
										<img src="/src/assets/static/img/2.webp" alt="">
									</div>
								</div>
								<div class="promo__card__text">
									<span>Подарок! <br> Карта памяти 64 Gb к камере видеонаблюдения <br> HiWatch Pro PTZ-N2204I-D3/W(B)</span>
								</div>
								<a href="" class="promo__card__link">
									<span>Подробнее</span>
								</a>
							</div>
							<% } %>
						</div>
						<div class="promo__footer">
							<%- include('/pagination') %>
						</div>
					</div>
				</div>
			</article>
		</main>
		<%- include('/footer') %>
	</body>

</html>