<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<div class="portfolio">
				<div class="portfolio__item">
					<div class="card" id="itrack">
						<div class="card__cover">
							<img src="/src/assets/static/img/itrack.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://itrack.ru/">iTrack</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="ofd">
						<div class="card__cover">
							<img src="/src/assets/static/img/ofd.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://oneofd.softmonster.ru/">Первый ОФД</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="ofd-partner">
						<div class="card__cover">
							<img src="/src/assets/static/img/ofd-partner.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><span>Первый ОФД партнерам</span></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="EcoCups">
						<div class="card__cover">
							<img src="/src/assets/static/img/EcoCups.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://ecocups.pro/">EcoCups</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="ISO1">
						<div class="card__cover">
							<img src="/src/assets/static/img/ISO1.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://comp.isoedu.ru/">ИСО</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="lobotryasy">
						<div class="card__cover">
							<img src="/src/assets/static/img/lobotryasy.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://lobotryasi.ru/">Лоботрясы</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="lobotryasy_b2b">
						<div class="card__cover">
							<img src="/src/assets/static/img/lobotryasy_b2b.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://b2b.lobotryasi.ru/">Лоботрясы</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="legenda">
						<div class="card__cover">
							<img src="/src/assets/static/img/legenda.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://b2b.legend-tea.ru/">Легенда чая</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="barankin">
						<div class="card__cover">
							<img src="/src/assets/static/img/barankin.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://barankinvrn.ru/">Баранкин</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="webfly">
						<div class="card__cover">
							<img src="/src/assets/static/img/webfly.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://webfly.ru/">Webfly</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="detskiy">
						<div class="card__cover">
							<img src="/src/assets/static/img/detskiy.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://noviydetskiy.ru/">Детский</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="red">
						<div class="card__cover">
							<img src="/src/assets/static/img/red.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><a target="_blank" href="">RED Coffee </a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="coffeenation">
						<div class="card__cover">
							<img src="/src/assets/static/img/coffeenation.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://mycoffeenation.ru/">Кофенация </a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="rvn">
						<div class="card__cover">
							<img src="/src/assets/static/img/rvn.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><a target="_blank" href="assets/static/rvn/index.html">RVN-Group</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="zhuklic">
						<div class="card__cover">
							<img src="/src/assets/static/img/zhuklic.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://zhuclinic.ru/">жуковка</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="anymed">
						<div class="card__cover">
							<img src="/src/assets/static/img/anymed.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://anymed.ru/">anymed</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="barra">
						<div class="card__cover">
							<img src="/src/assets/static/img/barra.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://barra.pro/">barra</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="candlequeen">
						<div class="card__cover">
							<img src="/src/assets/static/img/candlequeen.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://candlequeen.ru/">candlequeen</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="cdm">
						<div class="card__cover">
							<img src="/src/assets/static/img/cdm.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://cdm-mebel.ru/">ЦДМ</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="cvetov">
						<div class="card__cover">
							<img src="/src/assets/static/img/cvetov.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://cvetov.ru/">цветов.ру</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="denttime">
						<div class="card__cover">
							<img src="/src/assets/static/img/denttime.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://denttime.ru/">Дент Тайм</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="dvm">
						<div class="card__cover">
							<img src="/src/assets/static/img/dvm.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://1dvm.ru/">двери металл-м</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="finbricks">
						<div class="card__cover">
							<img src="/src/assets/static/img/finbricks.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><span data-tippy-content="К сожалению я не могу показать этот проект🙁">finbricks</span></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="fresh">
						<div class="card__cover">
							<img src="/src/assets/static/img/fresh.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://freshauto.ru/">Fresh Auto</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="herbarium">
						<div class="card__cover">
							<img src="/src/assets/static/img/herbarium.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://herbarium.ru/">herbarium</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="kvartira">
						<div class="card__cover">
							<img src="/src/assets/static/img/kvartira.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://xn--80aaaai1blv6abu0e.xn--p1ai/">наша квартира</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="manor">
						<div class="card__cover">
							<img src="/src/assets/static/img/manor.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--pink') %>
						</div>
						<div class="card__title"><a target="_blank" href="assets/static/manor/index.html">Твоя Усадьба</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="mebel">
						<div class="card__cover">
							<img src="/src/assets/static/img/mebel.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://mb-project.ru/">Мебель проект</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="officemag">
						<div class="card__cover">
							<img src="/src/assets/static/img/officemag.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://www.officemag.ru/">Офисмаг</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="samson">
						<div class="card__cover">
							<img src="/src/assets/static/img/samson.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://www.samsonopt.ru/zakaz/">Самсон опт</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="osnova">
						<div class="card__cover">
							<img src="/src/assets/static/img/osnova.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://osnovaclinic.ru/">Основа красоты</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="stomatolog">
						<div class="card__cover">
							<img src="/src/assets/static/img/stomatolog.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://www.stomatolog-vrn.ru/">ваш стоматолог</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="timecube">
						<div class="card__cover">
							<img src="/src/assets/static/img/timecube.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://timecube.ru/">timecube</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="ttp">
						<div class="card__cover">
							<img src="/src/assets/static/img/ttp.webp">
						</div>
						<div class="card__label">
							<%- include('/label--yellow') %>
							<%- include('/label--green') %>
						</div>
						<div class="card__title"><a target="_blank" href="https://www.packaging-systems.ru/">Упаковочные системы</a></div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card" id="ttp">
						<div class="card__cover">
							<img src="/src/assets/static/img/nda.webp">
						</div>
						<div class="card__label">
							<%- include('/label--blue') %>
						</div>
						<div class="card__title"><span> 7 крупных проектов под договором о неразглашении </span></div>
					</div>
				</div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>