<!DOCTYPE html>
<html lang="ru">
	<%- include('/head') %>

	<body>
		<%- include('/header') %>
		<main>
			<div class="portfolio">
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/EcoCups.webp" alt="https://ecocups.pro/">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="">EcoCups</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/ISO1.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://comp.isoedu.ru/">ИСО</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/lobotryasy.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://lobotryasi.ru/">Лоботрясы</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/lobotryasy_b2b.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://b2b.lobotryasi.ru/">Лоботрясы</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/legenda.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://b2b.legend-tea.ru/">Легенда чая</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/barankin.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://barankinvrn.ru/">Баранкин</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/webfly.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://webfly.ru/">Webfly</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/detskiy.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://noviydetskiy.ru/">Детский</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/red.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--pink') %>
							</div>
							<div class="card__title"><a target="_blank" href="">RED Coffee </a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/coffeenation.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://mycoffeenation.ru/">Кофенация </a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/rvn.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--pink') %>
							</div>
							<div class="card__title"><a target="_blank" href="assets/static/rvn/index.html">RVN-Group</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/zhuklic.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--blue') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://zhuclinic.ru/">жуковка</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/anymed.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://anymed.ru/">anymed</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/barra.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://barra.pro/">barra</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/candlequeen.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://candlequeen.ru/">candlequeen</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/cdm.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://cdm-mebel.ru/">ЦДМ</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/cvetov.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://cvetov.ru/">цветов.ру</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/denttime.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://denttime.ru/">Дент Тайм</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/dvm.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://1dvm.ru/">двери металл-м</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/finbricks.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--pink') %>
							</div>
							<div class="card__title"><span data-tippy-content="К сожалению я не могу показать этот проект🙁">finbricks</span></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/fresh.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://freshauto.ru/">Fresh Auto</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/herbarium.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://herbarium.ru/">herbarium</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/kvartira.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://xn--80aaaai1blv6abu0e.xn--p1ai/">наша квартира</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/manor.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--pink') %>
							</div>
							<div class="card__title"><a target="_blank" href="">Твоя Усадьба</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/mebel.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://mb-project.ru/">Мебель проект</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/officemag.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://www.officemag.ru/">Офисмаг</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/samson.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://www.samsonopt.ru/zakaz/">Самсон опт</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/osnova.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://osnovaclinic.ru/">Основа красоты</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/stomatolog.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://www.stomatolog-vrn.ru/">ваш стоматолог</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/timecube.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://timecube.ru/">timecube</a></div>
						</div>
					</div>
				</div>
				<div class="portfolio__item">
					<div class="card">
						<div class="card__cover">
							<img src="/src/assets/static/img/ttp.webp" alt="">
						</div>
						<div class="card__content">
							<div class="card__label">
								<%- include('/label--yellow') %>
								<%- include('/label--green') %>
							</div>
							<div class="card__title"><a target="_blank" href="https://www.packaging-systems.ru/">Упаковочные системы</a></div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<%- include('/footer') %>
	</body>

</html>