<div class="header__catalog__drop__inner__group">
	<input type="radio" name="header__catalog__drop__inner__group" class="header__catalog__drop__inner__controller" id="header__catalog__drop__inner__group-<%- locals.categoryIndex %>-<%- locals.groupIndex %>" hidden>
	<label for="header__catalog__drop__inner__group-<%- locals.categoryIndex %>-<%- locals.groupIndex %>" class="header__catalog__drop__inner__title">
		<span><%- locals.title %></span>
	</label>
	<div class="header__catalog__drop__inner__list">
		<label for="header__catalog__drop__inner__groups-reset">Назад</label>
		<a href="" class="header__catalog__drop__inner__title">
			<span><%- locals.title %></span>
		</a>
		<a href="">Оповещатели беспроводных систем</a>
		<a href="">Извещатели</a>
		<a href="">Аксессуары</a>
		<a href="">Блоки управления</a>
		<a href="">Комплекты</a>
		<a href="">Оповещатели беспроводных систем</a>
		<a href="">Извещатели</a>
		<a href="">Аксессуары</a>
		<a href="">Комплекты</a>
	</div>
</div>